.modal-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 70vw;
  height: 70vh;
}

.movie-modal-body {
  display: flex;
  margin: 80px;
}

.movie-details {
  flex: 1;
  margin-left: 80px;
  font-size: 18px;
  font-weight: bolder;
  display: grid;
  grid-template-rows: 20% 70% 10%;
}

.movie-detailed-title {
  display: flex;
}

.title-runtime {
  display: flex;
  flex: 1;
  flex-direction: column;
  font-weight: bolder;
  font-size: 24px;
}

.movie-rating {
  border: 1px solid black;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-desc {
  overflow-y: auto;
}

.close-modal-button {
  border: 1px solid black;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  width: 50%;
}

.close-modal-button:active {
  transform: translateY(2px);
}
